{% load static %}

{% block titulo %}
TimeOut_Error
{% endblock %}

{% block content %}

<title>504 TIMEOUT_ERROR</title>
    <body>
        <div class="text-left">
            <h1 style="font-size: 60px;">504 TIMEOUT_ERROR!</h1>
        </div>
        <div class="text-left" style="font-size: 30px;">
            <p>Desculpe, Ocorreu um Erro ao Processar sua Pesquisa. Excedeu-se o Tempo Permitido! Segue Possiveis Soluções Abaixo:</p>
            <p>• Verifique Sua Conexão;</p>
            <p>• Confira se Está Havendo Delay na Automação;</p>
            <p>• Certifique-se Que Não Há Nenhum Programa Intervindo no Processo.</p>
            <p>• Caso o Erro Persista, Tente Novamente Mais Tarde.</p>
        </div>
    </body>
<footer>
    <ul>
        <li>&copy; FEV/2024 por Victor Watanabe</li>
        <li> Feito com Python (Django)</li>
        <li>FCamboa</li>
    </ul>
</footer>


{% endblock %}