{% load static %}

{% block titulo %}
TimeOut Error | Google Maps
{% endblock %}

{% block content %}

<header class="min-h-screen bg-white bg-blend-overlay showcase border-gray-600 border-b-8 bg-no-repeat">
    <title>TIMEOUT_ERROR</title>
    <body>
        <div class="text-left p-8 py-48 flex flex-row items-center"> <!-- Adicionada a classe items-center para centralizar verticalmente -->
            <h1 class="error-message text-black font-serif" style="font-size: 60px;">TIMEOUT_<span class="text-red-700">ERROR!</span></h1> <!-- Adicionada a classe mb-4 para margem inferior -->
            <ion-icon name="alert-circle-outline" style="font-size: 60px; color: #dc2626; --ion-color-text: #dc2626;"></ion-icon>
        </div>
        <div class="text-left text-black font-serif p-8" style="font-size: 30px;">
            <p class="mb-4">Desculpe, Ocorreu um Erro ao Processar sua Pesquisa. Excedeu-se o Tempo Permitido! Segue Possiveis Soluções Abaixo:</p>
            <p class="mb-4">• Verifique Sua Conexão;</p>
            <p class="mb-4">• Confira se Está Havendo Delay na Automação;</p>
            <p class="mb-4">• Certifique-se Que Não Há Nenhum Programa Intervindo no Processo.</p>
            <p class="mb-4">• Caso o Erro Persista, Tente Novamente Mais Tarde.</p>
        </div>
    </body>
</header>

<footer class="bg-black px-5 py-10 text-white md:text-xl text-center">
    <ul class="flex justify-between items-center">
        <li>&copy; FEV/2024 por Victor Watanabe</li>
        <li class="pr-52"> Feito com Python (Django)</li>
        <li>FCamboa</li>
    </ul>
</footer>


{% endblock %}