{% load static %}

<nav class="w-full flex justify-between items-center py-3 px-4 fixed z-50">
    <div class="w-6/12">
        <a href="/">
            <img width="14%" class="box-content"  src="{% static 'images/FCamboablack.png' %}">
        </a>
    </div>

    <div class="w-6/12 mr-3 flex flex-nowrap justify-end">
        <div class="mr-2">
                <button Class='bg-red-700 text-black py-1 px-3 rounded-md'>
                <ion-icon name="contrast-outline" class = "color: black;"></ion-icon>
            </button>
        </div>

        <div class="mr-2">
            <a href="/admin">
                <button Class='bg-red-700 text-black py-1 px-3 rounded-md'>
                    login
                </button>
            </a>
        </div>

        <div class="mr-2">
            <a href="#">
                <button Class='bg-red-700 text-black py-1 px-3 rounded-md'>
                    Editar Perfil
                </button>
            </a>
        </div>
    </div>
</nav>